
*

!.gitignore
!.bashrc
!.zshrc
!.profile
!.xinitrc
!.Xresources
!.xsessionrc

!.config

!.config/sxhkd
!.config/sxhkd/*

!.config/bspwm    
!.config/bspwm/*

!.config/autorandr
!.config/autorandr/*

!.config/polybar
!.config/polybar/*

!.config/dunst
!.config/dunst/*

!.config/rofi
!.config/rofi/*
!.config/rofi/**/**
